body {
	font-family: 'Montserrat', sans-serif;

}



h1, p {
	color: #fff;
}

.jumbotron {
	background-color: #70369078 !important;
}

@supports (font-variation-settings: "wght" 800) {
   h1 {
    font-family: 'Montserrat';
    font-weight: 800;
  }
}

@supports (font-variation-settings: "wght" 400) {
   p {
    font-family: 'Montserrat';
    font-weight: 400;
  }
}

.myPhoto {
	width: 100%;
	border-radius: 20px;
    border: solid white 3px;
}

h2 {
	color:	#703690;
}

.row-title {
	margin-bottom: 20px;
}

.skill {
	border: 5px solid #703690;
    padding: 10px;
    border-radius: 20px;
    min-height: 300px;
}

.skill .fa {
    color: #703690;
}

.skill p {
	color: #000;
}

.footer {
	background-color: #703690;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

a {
	color: #fff !important;
}

h5 {
	color: #703690;
}